/* Fonts */

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/webfonts/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2"),
    url("./fonts/webfonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/webfonts/SourceSansPro/SourceSansPro-SemiBold.woff2") format("woff2"),
    url("./fonts/webfonts/SourceSansPro/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/webfonts/SourceSansPro/SourceSansPro-Bold.woff2") format("woff2"),
    url("./fonts/webfonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("./fonts/webfonts/SourceSerifPro/SourceSerifPro-Regular.woff2") format("woff2"),
    url("./fonts/webfonts/SourceSerifPro/SourceSerifPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("./fonts/webfonts/SourceSerifPro/SourceSerifPro-SemiBold.woff2") format("woff2"),
    url("./fonts/webfonts/SourceSerifPro/SourceSerifPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

/* Scaffold */

body {
  font-family: "Open Sans", sans-serif;
  background: #ddd;
  color: #222;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Header */

.demo__header {
  padding: 48px 0;
  background: linear-gradient(45deg, #3f5773, #475e7b);
}

.demo__header h1 {
  color: #fff;
  text-align: center;
  line-height: 1;
  font-weight: normal;
  font-family: "Quattrocento";
  font-size: 46px;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* Demo container */

.demo__container {
  padding: 32px 0;
}

.demo__title {
  margin: 0 0 16px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}

.demo__description {
  text-align: center;
  margin: 0 0 24px;
}

.demo__description code {
  font-family: monospace;
  color: #a93226;
}

/* Infos */

.demo__container {
  width: 640px;
  margin: auto;
}

.dompanzoom__infos-container {
  margin: 8px -4px;
  display: flex;
}

.dompanzoom__info {
  font-family: monospace;
  font-size: 14px;
  margin: 0 4px;
  background: #fff;
  border-bottom: 2px solid #000;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  width: calc(33.333% - 4px - 4px);
}

/* Controls */

.dompanzoom__controls-container {
  background: #fff;
  height: 36px;
  padding: 6px 0;
  display: flex;
  margin: 0 auto 3px;
}

.dompanzoom__controls-container label,
.dompanzoom__controls-container button {
  margin: 0 8px 8px 0;
  box-shadow: none;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border: 0;
  font-weight: 600;
  white-space: nowrap;
}

.dompanzoom__controls-container label {
  flex-shrink: 0;
  width: 70px;
  padding: 0 12px;
}

.dompanzoom__controls-container button {
  padding: 0 8px;
  background: #596580;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms;
  border-radius: 4px;
}

.dompanzoom__controls-container button:hover {
  background: #3d4966;
}

/* domPanZoom elements */

.dompanzoom__wrapper {
  position: relative;
  background: #fff;
  width: 100%;
  height: 480px;
  margin: auto;
  border: 2px solid #000;
}

.dompanzoom__wrapper:before,
.dompanzoom__wrapper:after {
  content: "";
  position: absolute;
  z-index: 200;
  background: #000;
}

.dompanzoom__wrapper:before {
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  transform: translateY(-50%);
}

.dompanzoom__wrapper:after {
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  transform: translateX(-50%);
}

.dompanzoom__container {
  position: relative;
}

.dompanzoom__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

/* Demo 1 */

.demo__container.-demo1 .dompanzoom__container,
.demo__container.-demo1 .dompanzoom__image,
.demo__container.-demo1 .dompanzoom__image-overlay {
  display: block;
  width: 3840px;
  height: 2560px;
}
